.post-entry {
    padding: 10px;
    border-bottom: 1px solid rgb(196 195 195);
}

.entry-header {
    font-size: 24px;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(196 195 195);
}

.entry-title {
    font-size: 18px;
    font-weight: bold;
    color: #2091ee;
}

.entry-info {
    color: var(--secondary);
    font-size: 12px;
}

.entry-header .entry-date {
    color: var(--secondary);
    font-size: 12px;
}

.entry-description {
    margin-top: 5px;
    color: var(--secondary);
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.latest_writings {
    font-weight: bold;
    margin-bottom: 5px;
    color: #9b9b9b;
}


