{{- define "main" }}

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
{{- $pages = first 0 (where site.RegularPages "Section" "tech_writings") }}
{{- partial "index_profile.html" . }}
{{- if $pages }}
<hr>
<p class="latest_writings">Recent Writings: </p>
{{- end }}
{{- end }}

{{- if not .IsHome | and .Title }}
<p class="page-header">{{ .Title }}</p>
{{- end }}

{{- range $pages }}
<a aria-label="post link to {{ .Title }}" href="{{ .Permalink }}">
  <div class="post-entry">
    <div class="entry-header">
      <p class="entry-title">{{- .Title }}</p>
    </div>
  </div>
</a>
{{- end }}

{{- end }}
